@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&family=Rubik+Vinyl&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1{
    font-family: 'Rubik Vinyl', cursive;
}

.content_chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.message-container {
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.message {
    margin: 5px 20px; /* Ajuste el margen para separar los mensajes */
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.message.usuario-1 {
    align-self: flex-start; /* Alinea los mensajes del usuario 1 a la izquierda */
}

.message.usuario-2 {
    align-self: flex-end; /* Alinea los mensajes del usuario 2 a la derecha */
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 600px;
}

#chatBox {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

