    <header>
        <h1>Chat en Línea</h1>
    </header>
    <main class="content_chat">
        <div class="message-container" id="messageLogs"></div>
        <div class="input-container">
            <input type="text" id="chatBox" placeholder="Escribe tu mensaje aquí">
        </div>
    </main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.3/socket.io.min.js" integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg" crossorigin="anonymous"></script>
<script src="js/script.js"></script>